name: CI/CD to render.com

on:
  push:
    branches:
      - main
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          
      - name: re-Deploy to Render.Com
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}