name: CI/CD to render.com

on:
  push:
    branches:
      - main
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/shaxboz9932/app-image .
          
      - name: Github Login with Docker
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: shaxboz9932
          password: ${{ secrets.GHCR_PAT }}
          
      - name: Push a Docker image
        run: |
          docker push ghcr.io/shaxboz9932/app-image:latest
          
      - name: re-Deploy to Render.Com
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
          